<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SSData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.2.0" newVersion="2020.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.117.0" newVersion="1.0.117.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <userSettings>
    <SSData.Properties.Settings>
      <setting name="test" serializeAs="String">
        <value>some vale</value>
      </setting>
      <setting name="SEQ_NO" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="BIT_ID" serializeAs="String">
        <value>461</value>
      </setting>
      <setting name="MOBILE_NO" serializeAs="String">
        <value>25489</value>
      </setting>
      <setting name="STATION_NM" serializeAs="String">
        <value>산뒤마을</value>
      </setting>
      <setting name="SERVER_URL" serializeAs="String">
        <value>192.168.255.164</value>
      </setting>
      <setting name="SERVER_TYPE" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SERVER_PORT" serializeAs="String">
        <value>9001</value>
      </setting>
      <setting name="FTP_GBN" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FTP_IP" serializeAs="String">
        <value />
      </setting>
      <setting name="FTP_PORT" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FTP_USERID" serializeAs="String">
        <value />
      </setting>
      <setting name="FTP_USERPWD" serializeAs="String">
        <value />
      </setting>
      <setting name="HTTP_URL" serializeAs="String">
        <value>192.168.255.165</value>
      </setting>
      <setting name="HTTP_PORT" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="ENV_GBN" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ENV_PORT_NM" serializeAs="String">
        <value />
      </setting>
      <setting name="ENV_BAUD_RATE" serializeAs="String">
        <value>57600</value>
      </setting>
      <setting name="CAM_NO1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CAM_NO1_ROTATE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CAM_NO2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CAM_NO2_ROTATE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LOGSAVE_DAY" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="LOGSAVE_PERCENT" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ENV_USE_FAN_MANUAL" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ENV_USE_HEATER_MANUAL" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="SHOCK_DETECT_NO" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="ArriveSoonGBN" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ArriveSoonTimeGBN" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="ArriveSoonStationGBN" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MonitorOnTime" serializeAs="String">
        <value>0430</value>
      </setting>
      <setting name="MonitorOffTime" serializeAs="String">
        <value>0100</value>
      </setting>
      <setting name="DefaultLCDLux" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LuxCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BITOrderGBN" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UseDetectSensor" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DetectSensorServiceTime" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="FANMaxTemp" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="FANMinTemp" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="HeaterMaxTemp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HeaterMinTemp" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ShockDetectValue" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="BITFontSize" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TestOperationDisplayYN" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Reserve1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PromotionRefreshInterval" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="BusArrivalReshreshInterval" serializeAs="String">
        <value>8</value>
      </setting>
    </SSData.Properties.Settings>
  </userSettings>
</configuration>