<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.2.0" newVersion="2020.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.117.0" newVersion="1.0.117.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BitView.Properties.Settings>
      <setting name="SEQ_NO" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="BIT_ID" serializeAs="String">
        <value>461</value>
      </setting>
      <setting name="MOBILE_NO" serializeAs="String">
        <value>25489</value>
      </setting>
      <setting name="STATION_NM" serializeAs="String">
        <value>산뒤마을</value>
      </setting>
      <setting name="SERVER_URL" serializeAs="String">
        <value>192.168.255.164</value>
      </setting>
      <setting name="SERVER_TYPE" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SERVER_PORT" serializeAs="String">
        <value>9001</value>
      </setting>
      <setting name="FTP_GBN" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FTP_IP" serializeAs="String">
        <value />
      </setting>
      <setting name="FTP_PORT" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FTP_USERID" serializeAs="String">
        <value />
      </setting>
      <setting name="FTP_USERPWD" serializeAs="String">
        <value />
      </setting>
      <setting name="HTTP_URL" serializeAs="String">
        <value>192.168.255.165</value>
      </setting>
      <setting name="HTTP_PORT" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="ENV_GBN" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ENV_PORT_NM" serializeAs="String">
        <value />
      </setting>
      <setting name="ENV_BAUD_RATE" serializeAs="String">
        <value>57600</value>
      </setting>
      <setting name="CAM_NO1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CAM_NO1_ROTATE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CAM_NO2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CAM_NO2_ROTATE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="REGDATE" serializeAs="String">
        <value>2024-08-26T13:50:32.1690974</value>
      </setting>
    </BitView.Properties.Settings>
  </userSettings>
</configuration>